<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>You have {{ cart.totalItemsCount }} items in shopping cart</p>
    <table class="table" *ngIf="cart">
        <thead>
            <tr>
                <td>Product</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>{{ item.title }}</td>
                <td><product-quantity [shopping-cart]="cart" [item]="item"></product-quantity></td>
                <td>{{ item.totalPrice | currency: 'INR':true }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>{{ cart.totalPrice | currency: 'INR':true }}</th>
            </tr>
        </tfoot>
    </table>
</ng-container>
