<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Cart</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Shopping Cart</a>
            </li>

            <ng-template #anonymouseUser>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
            </ng-template>

            <li
                *ngIf="appUser as user; else anonymouseUser"
                ngbDropdown
                class="nav-item dropdown "
            >
                <a
                    ngbDropdownToggle
                    class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    {{ user?.name }}
                </a>
                <div
                    ngbDropdownMenu
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdown"
                >
                    <a class="dropdown-item" RouterLink="cart/orders"
                        >My Orders</a
                    >
                    <div class="dropdown-divider"></div>

                    <ng-container *ngIf="user.isAdmin">
                        <a class="dropdown-item" RouterLink="admin/orders"
                            >Manage Orders</a
                        >
                        <a class="dropdown-item" RouterLink="admin/orders"
                            >Manage Products</a
                        >
                        <div class="dropdown-divider"></div>
                    </ng-container>

                    <a class="dropdown-item" (click)="logout()">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
